<?xml version="1.0" encoding="utf-8" ?>
<SqlMap>
  <ScmAppointmentContext>
    <!--<RobackSnapshoot>
      UPDATE  `dock_snapshoot` SET `APPOINTMENT_QTY`= (CASE WHEN `APPOINTMENT_QTY`-@qty >=0  THEN `APPOINTMENT_QTY`-@qty ELSE 0 END) WHERE `DOCK_ID`=@dockId AND `TIME_FRAME`=@timeFrame AND `SNAPSHOOT_DAY`=@appDay
    </RobackSnapshoot>-->
  </ScmAppointmentContext>
</SqlMap>